<div class="container">

  <.header>
    ChatGPT
  </.header>
  <div id="topic-select">
    <select id="topic-dropdown" name="topic" phx-change="change_topic">
      <%= for topic <- @topics do %>
        <option value={topic} selected={if @current_topic==topic ,do: 'true' }>
          <%= topic %>
        </option>
        <% end %>
    </select>
  </div>

  <div id="chat-messages" phx-update="stream" class="overscroll-auto hover:overscroll-contain  w-full">
    <%= for {dom_id,message} <- @streams.messages do %>
      <div class="message flex items-center" id={dom_id}>
        <span class="role">
          <%= message.role %>:
        </span>
        <span class="container content shadow-md m-5">
          <%= message.content %>
        </span>
      </div>
      <% end %>
  </div>


  <footer class="fixed bottom-0 w-full h-14 bg-gradient-to-r from-violet-500 to-fuchsia-500 pb-2 px-5 pt-2">
    <form phx-submit="send_message">
      <input id="message-input" autocomplete="false" type="textarea" multiple="true" name="content" size="100" ,
        placeholder=" Enter your message..." value={@input_text}>
      <.button phx-disable-with="Waiting" type="submit">Send</.button>
    </form>
  </footer>
</div>