<div class="container">

  <.header>
    ChatGPT
  </.header>
  <div id="topic-select">
    <select id="topic-dropdown" name="topic" phx-change="change_topic">
      <%= for topic <- @topics do %>
        <option value={topic} selected={if @current_topic==topic ,do: 'true' }>
          <%= topic %>
        </option>
        <% end %>
    </select>
  </div>

  <div id="chat-messages" phx-update="replace" class="overscroll-auto hover:overscroll-contain  w-full">
    <%= for message <- @messages |> Enum.reverse() do %>
      <div class="message flex items-center">
        <span class="role">
          <%= message.role %>:
        </span>
        <span class="container content shadow-md m-5">
          <%= message.content %>
        </span>
      </div>
      <% end %>
  </div>

  <%= if @status==1 do%>

    <div
      class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
      role="status">
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
    </div>
    <% end %>


      <footer class="fixed bottom-0 w-full h-16 bg-gradient-to-r from-violet-500 to-fuchsia-500 pb-2 px-5 pt-2">
        <form phx-submit="user_message">
          <input id="message-input" autocomplete="false" type="textarea" multiple="true" name="content" size="100" ,
            placeholder=" Enter your message..." value={@input_text}>
          <.button type="submit">Send</.button>
        </form>
      </footer>
</div>